{% extends 'base.html' %}

{% block bloco %}
    <div class="teste">
        <div class="container">
            <p>Nossos peludos estão ansiosos à espera de um lar!</p>
            <a href="#" class="btn-ajudar">Quero ajudar</a>
            <a href="#" class="btn-adotar">Adotar</a>
        </div>
    </div>
    <div class="container">
        {% if animais %}
        <h1 class="pt-4">Animais para adoção</h1>
        <ul class="cards">
            {% for Animal in animais %}
                <li class="cards_item"> 
                    <div class="card">
                        {% if Animal.adotado%}
                            <div class="ribbon-wrapper">
                                <div class="ribbon">Adotado</div>
                            </div>
                        {% endif %}
                        <div class="card_image">
                            <a href="{% url 'teste' Animal.id %}">
                                <img src="{{Animal.imagemAnimal.url}}" class="img-thumbnail">
                            </a>           
                        </div>
                        <div class="card_content">
                            <h2 class="card_title">{{Animal.nomeAnimal}}</h2>
                            <p class="card_text">{{Animal.get_sexo_display}}</p>
                            <p class="card_text">{{Animal.get_porte_display}}</p>
                            <a href="{% url 'teste' Animal.id %}">
                                <div class="botao">
                                    <button class="btn card_btn">Ver Mais</button>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Não há animais para a adoção </p>
        {% endif %}
    </div>
     <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if animais.has_previous %}
            <li class="page-ite">
                <a class="page-link" href="?page=1">Primeira</a>
            </li>
            
            <li class="page-item"><a class="page-link" href="?page={{ animais.previous_page_number }}">Anterior</a></li>
            
            {% endif %}
            {% if animais.has_next %}
            <li class="page-item active " aria-current="page">
                <a class="page-link" href="?page={{ animais.next_page_number }}">2  <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ animais.paginator.num_pages }}">Ultima</a>
            </li>
            {% endif %}
        </ul>
        </nav>
    </div> 
    <div class="container">
        <h1>Últimas adoções regisradas</h1>
        {% if animaisAdotados %}
        <ul class="cards">
            {% for Animal in animaisAdotados %}
                <li class="cards_item"> 
                    <div class="card">
                        {% if Animal.adotado%}
                            <div class="ribbon-wrapper">
                                <div class="ribbon">Adotado</div>
                            </div>
                        {% endif %}
                        <div class="card_image">
                            <a href="{% url 'teste' Animal.id %}">
                                <img src="{{Animal.imagemAnimal.url}}" class="img-thumbnail">
                            </a>           
                        </div>
                        <div class="card_content">
                            <h2 class="card_title">{{Animal.nomeAnimal}}</h2>
                            <p class="card_text">{{Animal.get_sexo_display}}</p>
                            <p class="card_text">{{Animal.get_porte_display}}</p>
                            <a href="{% url 'teste' Animal.id %}">
                                <div class="botao">
                                    <button class="btn card_btn">Ver Mais</button>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Não há animais para exibir </p>
        {% endif %}
    </div>
    
{% endblock %}
