{% extends 'base.html' %}

{% block bloco %}
    {% if animais %}
        <h1>Animais para Adoção</h1>
        <table class="table table-responsive-sm table-striped table-bordered table-sm" cellspacing="0"
        width="90%">
            <thead>
                <th>Foto</th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Porte</th>
            </thead>
            <tbody>
                {% for Animal in animais %}
                    <tr>
                        <th><img class="imagemAnimal" src="{{Animal.imagemAnimal.url}}"></th>
                        <th><p>{{Animal.nomeAnimal}}</p></th>
                        <th><p>{{Animal.get_sexo_display}}</p></th>
                        <th><p>{{Animal.get_porte_display}}</p></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Não existem animais para adoção</h1>
    {% endif %}
    
{% endblock %}

