/*https://developer.mozilla.org/pt-BR/docs/Web/CSS/text-overflow*/
.img-apresentacao{
  width: 100%;
  height: 80vh;
  padding: 5em;
  background-image: url("../images/dog.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.img-apresentacao p{
  font-size: 2.5em;
  color: white;
  max-width: 400px;
  margin-top: 1em;
  padding-bottom: 13px;
}
.btn-adotar, .btn-ajudar{
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  border-radius: .6em;
  transition: .5s;
}
.btn-adotar{
  background-color:  #F1D434;
  margin-left: 1em;
}
.btn-ajudar{
  background-color: #23C6C8;
}
.btn-adotar:hover{
  text-decoration: none;
  background-color: rgb(139, 137, 125);
  color: white;
}
.btn-ajudar:hover{
  text-decoration: none;
  background-color: #272626;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards_item {
  display: flex;
  padding: 1rem;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: wrap;
  overflow: hidden;
}
.img-thumbnail{
  border: none !important;
}
.card_image{    
  height: 300px;
  overflow: hidden;
  width: 100%;
  /* position: relative; */
}
.card_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  /* position: absolute;     */
}
.card_text{
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.card_content {
  /* padding: 1rem;*/
   padding: 6px 10px 4px 10px;
   /**background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);**/
 }
 .card_desc{
   display: inline-block;
   flex-direction: row;
   flex-wrap: nowrap;
   width: 100%;
 } 
 .card_title {
   color: #000000;
   font-size: 1.3rem;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: capitalize;
   margin: 0px;
   
 }
 .porte{
  text-align: center;
}

.text-center{
  padding-bottom: 0.6em !important;
}


  
  a {
    text-decoration: none;

  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}



.ribbon-wrapper{
  width: 116px;
    height: 113px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 1;
}

.rodape {
  background-color: #F7AE29;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  bottom: 0;
  width: 100%;
}
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.ribbon{
  font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 9px 0;
    left: -6px;
    top: 28px;
    width: 157px;
    background-color: #F4AA24;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}



  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
    
  @media (min-width: 56rem) {
    .cards_item {
      width: 25%;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1100px){
    .cards_item{
      width: 33%;
    }
    .card_text{
      font-size: 1.2rem;
    }
    .img-apresentacao{
      height: 80vh;
    }
  }
    
  @media screen and (min-width: 895px) and (max-width: 1119px){
    .cards_item{
      width: 33%;
    }
  }


  @media (max-width: 767px){
    .img-apresentacao p{
      font-size: 25px!important;
    }
    .img-apresentacao{
      height: 60vh;
      padding: 5em;
    }.card_text{
      font-size: 01.1rem;
    } 
  }
/*
  @media screen and (max-width:400px){
    .card_image{
      max-height: 50%;
      max-width: 50%;
    }
  }
  */
@media screen and (max-width:525px){
  .img-apresentacao{
    padding: 0 !important;
  }
  .img-apresentacao p{
    margin-top: 0 !important;
    font-size: 25px!important;
    line-height: 40px;
  }
  .btn-adotar{
    padding: 0.8em 1em;
    border-radius: .6em;
  } 
  .btn-ajudar{
    padding: 0.8em .5em;
    border-radius: .6em;
  }
}

